.logo {
    width: 130px;
    height: 130px;
}

.row-with-logo {
    height: 75px;
}

.row-gray {
    height: 50px;
    background-color: #f0f0f0;
}

.navbar li {
    font-size: .35em;
}

.toplinks {
    font-size: 32px;
    color: #000000;

}

.top-links {
    background-color: #f0f0f0;
    list-style: none;
}
.link-list {
    background-color: #f0f0f0;
}

.work-link {
    text-align: right;
}

.top-services {
    text-align: right;
}

h3 {
    font-size: 40px;
    font-family: Anton;
    text-align: center;
}

.four-circles {
    background-color: #f0f0f0;
}

.four-circles li {
    vertical-align: center;
    margin-bottom: .5em;
}

.big-circle {
    padding-top: 36px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: Anton;
    align-content: center;
    color: #ffffff;
    border: 6px solid #ffffff;
    height: 115px;
    width: 115px;
    border-radius: 50%;
}

.circle-red {
    background-color: #e6563b;
}

.circle-orange {
    background-color: #eb9d3a;
}

.circle-green {
    background-color: #7cb06c;
}

.circle-blue {
    background-color: #00aba9;
}

.row2 {
    background-color: #f0f0f0;
}

.selected-work {
    font-family: Abel;
    font-size: 16px;
}

.card {
    border: none;
    background-color: #f0f0f0;
}

.card-border img {
    border: #e6e6e6 solid 10px;
    border-radius: 3px;
}

.card-items,
.icon-group {
    list-style: none;
}

.featured {
    font-size: 16px;
    font-family: Abel;
    float: left;
}

.icons {
    /*float: right;*/
}

.icon-group {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-family: Anton;
    align-content: center;
    color: #000;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.icon-red {
    background-color: #e6563b;
}

.icon-orange {
    background-color: #eb9d3a;
}

.icon-green {
    background-color: #7cb06c;
}

.icon-blue {
    background-color: #00aba9;
}
